/* Navbar */
.navbar-brand {
    font: 32px Viga;
}
.navbar img.brand {
    margin-top: -25px;
    background: transparent;
    width: 250px;
    height: 100px;
}
.navbar {
    width:100%;
    /* color: rgb(10, 104, 42); */
	position: absolute;
    top: 0;
    transition: .3s;
    font-weight: bold;
}
.navbar .nav-link {
    color: #AFE214;
}
.navbar.muncul {
	position: fixed;
	top: 0;
    background-color: rgb(255, 255, 255);
    /* color: rgb(10, 104, 42); */
	z-index: 50;
}




/* Jumbotron */
.jumbotron {
    background: url(../img/gbrfrontpage.png);
    /* background-size: cover; */
    height: 640px;
    position: relative;
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: -500px 100px;
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* .jumbotron .display-4 {
    opacity: 0;
    color: #eaeaea;
    transform: translate(0, -40px);
    transition: .5s;
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
} */

/* .jumbotron .display-4.show {
    opacity: 1;
    transform: translate(0, 0);
} */

/* .jumbotron .display-4 span {
    font-weight: 500;
    color: rgb(201, 255, 7);
} */

/* playstore */
/* .playstore {

} */

/* Info Panel */
.info-panel {
    background-color: white;
    padding: 30px;
    margin-top: -250px;
    margin-bottom: 200px;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}
.info-panel .col-lg img {
    width: 100px;
    height: 100px;
}
.info-panel .img-fluid {
    background-color: #8CC63C;
}
.info-panel .col-lg {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
    width: 100px;
}
.info-panel .col-lg.info {
    opacity: 1;
    transform: translate(0, 0);
}

.info-panel h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: capitalize;
}
.info-panel .lngkh {
    font-size: 20px;
}

.info-panel header {
    color: #AFE214;
    font-size: 10px;
}

.info-panel p {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: lighter;
    color: #acacac;
}



/* feature */
.feature {
    text-align: center;
    height: auto;
    padding: 30px;
    margin-top: -100px;
}

.feature h2 {
    opacity: 0;
    transform: translate(40px, 0);
    transition: .5s;
    font-size: 52px;
    text-transform: capitalize;
    font-weight: 200;
}
.feature h2.showh2 {
    opacity: 1;
    transform: translate(0, 0);
}

.feature h2 span {
    font-weight: 500;
    text-transform: capitalize;
}

.feature p {
    opacity: 0;
    transform: translate(40px, 0);
    transition: .5s;
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
}

.feature p.showp {
    opacity: 1;
    transform: translate(0, 0);
}
.feature .carousel-inner img {
    width: auto;
    height: auto;
    margin-left: 25%;
    color: #8CC63C;
}

/* Testimonial */
.gallery {
    /* background: url(../img/gbrfrontpage.png);
    background-attachment: fixed;
    background-size: cover;
    height: 640px;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    background-position: -70px 55px; */
    width: auto;
    padding: 30px;
}

.gallery img {
    position: relative;
    width: auto;
    height: 100%;
}
.gallery .card {
    margin-bottom: 10px;
}
.gallery span {
    display: block;
    width: 18rem;
    height: 18rem;
    background-color: rgba(200, 200, 200, .5);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .3s;
    transform: scale(0) rotate(0);
}
.gallery a {
    text-decoration: none;
}
.gallery a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
    text-align: center;
    line-height: 18rem;
    text-transform: uppercase;
    color: #AFE214;
    font-weight: bold;
}
/* .overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: .3s;
    text-align: center;
    padding: 100px;
}
.overlay:target {
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.overlay img {
    max-height: 100%;
    width: 50%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay:target img {
    animation: zoomDanFade 1s;
}
.overlay a.close {
    opacity: 0;
}
.overlay:target .close {
    position: absolute;
    opacity: 1;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    animation: slideDownFade .5s  forwards;
}
.overlay:target .close:hover {
    color: white;
} */

section {
   padding-top: 130px;
   width: auto;
}
/* Gallery */
.gallery header, .feature header, .panel header, .feature header {
    font-size: 2.4em;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    color: #1C1E1D;
    font-family: Viga;
}
section {
    min-height: 130px;
}
/* footer */
.footer {
    display: block;
    background-color: #1C1E1D;
    padding: 30px;
    color: rgb(184, 184, 184);
    overflow: hidden;
    font: 16px Viga;
    left: 0%;
    right: 0%;
    position: absolute;
}
.footer .goplay {
    width: 100%;
}
.footer ul {
    list-style: none;
    margin-left: -40px;
}
.footer span {
    color: #AFE214;
    font: 32px Viga;
}
.footer ul li {
    display: inline-block;
    padding-right: 10px;
}
.footer a {
    text-decoration: none;
    color: #AFE214;
}
.footer .card {
    overflow: hidden;
    height: 200px;
}
.footer .card img {
    height: 200px;
}

.col-md-4 {
    display: inline-block;
}

/* Utility */
.tombol {
    border-radius: 40px;
    text-transform: uppercase;
}


/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 20px;
    }
    .navbar-brand, .nav-link {
        color: #AFE214;
        /* text-shadow: 1px 1px 2px rgb(10, 104, 42); */
    }

    .nav-link {
        color: #AFE214;
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #AFE214;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }


    .jumbotron {
        background-position: 100px 100px;
    }

    .jumbotron .display-4 {
        font-size: 5em;
        margin-top: 150px;
    }

    .feature {
        text-align: left;
    }

}

/* animasi */
@keyframes zoomDanFade{
    0% {
        transform: scale(0);
        opacity: 0;
    }
     100% {
        transform: scale(1);
        opacity: 1;
     }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top:  -20px;
    }

    100% {
        opacity: 1;
        margin-top: 20px;
    }
}